<% layout("layouts/boilerplate") %>

<form action="/campgrounds" method="POST">
    <div>
        <label for="title">タイトル</label>
        <input type="text" name="campground[title]" id="title" />
    </div>
    <div>
        <label for="location">場所</label>
        <input type="text" name="campground[location]" id="location" />
    </div>
    <button>登録する</button>
</form>
<a href="/campgrounds">一覧に戻る</a>
